#xuanHeading {
    background-color: #f0d9d7;
    color: #c08b89;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
.xuandivlist p {
    float: left;
    width: 50%;
    padding: 10px;
    color: #b38f75;
}
#xuanTable {
    text-align: center;
    border: 0.5px solid black;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
.xuandiv: after {  
    content: "";
  display: table;
  clear: both;
    background-color: #f0e8e4;
}

.petphoto {
    display: flex;
    justify-content: center;
    background-color: #f0e8e4;
  }
.petphoto >div {
    background-color: #d8bebd;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

